<?xml version="1.0" encoding="UTF-8" ?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Paramètres plateforme-dépendants des dépots vers lesquels on déploie (utilisé dans le DistributionManagement des pom)-->
  <servers>
    <server>
      <id>release</id>
      <!-- Login du compte de service <monprojet>_ci (ex: espace42_ci) -->
      <username>${env.NEXUS_USER}</username>
      <!-- API key artifactory créée par le compte de service -->
      <password>${env.NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>snapshots</id>
      <!-- Login du compte de service <monprojet>_ci (ex: espace42_ci) -->
      <username>${env.NEXUS_USER}</username>
      <!-- API key artifactory créée par le compte de service -->
      <password>${env.NEXUS_PASSWORD}</password>
    </server>
  </servers>

  <!-- Modifie à la volée l'URL des artefacts du dépot central Maven vers le dépot interne MAE. Utile pour les dépendances externes -->
  <mirrors>
    <mirror>
      <id>repository-mvn-proxy</id>
      <name>Maven Repository Proxy</name>
      <url>http://146.148.127.179/frontal/nexus/repository/maven-central/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <properties>
        <url.artifactory-release>http://146.148.127.179/frontal/nexus/repository/maven-releases/</url.artifactory-release>
        <url.artifactory-snapshots>http://146.148.127.179/frontal/nexus/repository/maven-snapshots/</url.artifactory-snapshots>
      </properties>
      <!-- Permet d'accéder aux dépendances internes du projet -->
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>release</id>
          <name>repository-mvn-nabilslaoui</name>
          <url>${url.artifactory-release}</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>repository-mvn-nabilslaoui</name>
          <url>${url.artifactory-snapshots}</url>
        </repository>
      </repositories>

      <!--Accès aux plugins Maven -->
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>release</id>
          <name>repository-mvn-mae</name>
          <url>http://146.148.127.179/frontal/nexus/repository/maven-central/</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>repository-mvn-mae</name>
          <url>http://146.148.127.179/frontal/nexus/repository/maven-central/</url>
        </pluginRepository>
      </pluginRepositories>
      <id>default</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>

