<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>gitlab-maven-bom</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven-parent</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven-commun</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven-commun-api</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven-commun-batch</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>gitlab-maven-logging-api</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>   
    <server>
      <id>gitlab-maven-graphql-api</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server> 
    <server>
      <id>gitlab-maven-jasperreports-api</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Job-Token</name>
            <value>${env.CI_JOB_TOKEN}</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
    <server>
      <id>libs-releases</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <!-- API key artifactory créée par le compte de service -->
      <password>${env.ARTIFACTORY_ACCESS_TOKEN}</password>
    </server>
  </servers>
  <!-- Modifie à la volée l'URL des artefacts du dépot central Maven vers le dépot interne JFROG. Utile pour les dépendances externes -->
  <mirrors>
    <mirror>
        <id>repository-mvn-proxy</id>
        <name>Maven Repository Proxy</name>
        <url>https://nabilslaoui.jfrog.io/artifactory/default-libs-release</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>  
  <profiles>
    <profile>
      <id>gitlab-repository</id>
      <repositories>
        <repository>
          <id>gitlab-maven-bom</id>
          <url>${env.CI_API_V4_URL}/projects/30354788/packages/maven</url>
        </repository>
        <repository>
          <id>gitlab-maven-parent</id>
          <url>${env.CI_API_V4_URL}/projects/30365987/packages/maven</url>
        </repository>
        <repository>
          <id>gitlab-maven-commun</id>
          <url>${env.CI_API_V4_URL}/projects/30365989/packages/maven</url>
        </repository>
        <repository>
          <id>gitlab-maven-commun-api</id>
          <url>${env.CI_API_V4_URL}/projects/30365995/packages/maven</url>
        </repository>
        <repository>
          <id>gitlab-maven-commun-batch</id>
          <url>${env.CI_API_V4_URL}/projects/30366001/packages/maven</url>
        </repository>
        <repository>
          <id>gitlab-maven-logging-api</id>
          <url>${env.CI_API_V4_URL}/projects/30512206/packages/maven</url>
        </repository>
        <repository>
          <id>gitlab-maven-graphql-api</id>
          <url>${env.CI_API_V4_URL}/projects/30920773/packages/maven</url>
        </repository>
        <repository>
          <id>gitlab-maven-jasperreports-api</id>
          <url>${env.CI_API_V4_URL}/projects/30366011/packages/maven</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>libs-releases</id>
          <name>libs-releases</name>
          <url>https://nabilslaoui.jfrog.io/artifactory/default-libs-release</url>
        </repository>                                                     
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>libs-releases</id>
          <name>libs-releases</name>
          <url>https://nabilslaoui.jfrog.io/artifactory/default-libs-release</url>
        </pluginRepository>
      </pluginRepositories>      
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>gitlab-repository</activeProfile>
  </activeProfiles>
</settings>